{% extends 'full-page.html' %}
{% block content %}
<div class="jumbotron home-jumbotron" style="background-color: #24292e">
  <div class="container">
    <div class="row">
        <div class="col-md-7 col-sm-12 animated bounceInLeft">
            <h3>Introducing <strong>RickBot</strong> the new bot for<img src="{{ url_for('static', filename='img/discord-logo.svg') }}" class="discord-logo2"></h3>
            <h1>Add <span id="rotating">awesome commands</span></h1>
            <h2>for everyone in your <img src="{{ url_for('static', filename='img/discord.svg') }}" class="discord-logo1"> server!</h2>
            <p>
                <a href="{{url_for('login')}}" class="btn btn-home btn-lg">Add to discord</a>
                <a href="{{url_for('about')}}" class="btn btn-about btn-lg">About</a>
            </p>
        </div>
        <div class="col-md-5 hidden-sm hidden-xs text-center animated bounceInRight">
            <img src="{{ url_for('static', filename='img/rick.png') }}">
        </div>
    </div>
  </div>
</div>
{% endblock %}