{% import 'macros/plugin.html' as plugin %}
<h3>Plugins</h3>
<div class="list-group">
  {{ plugin.view(
      'Commands',
      view='plugin_commands',
      description='Add and manage your <strong>AMAZING</strong> custom commands for your server!',
      server=server,
      enabled_plugins=enabled_plugins
      )}}
      {{ plugin.view(
          'Help',
          cute_name='Help Me!',
          view='plugin_help',
          description='Enables the <strong>!help</strong> command.',
          server=server,
          enabled_plugins=enabled_plugins
          )}}
      {{ plugin.view(
          'Levels',
          view='plugin_levels',
          description='Let your members gain <strong>XP</strong> and <strong>bragging rights</strong> talking in your chats!',
          server=server,
          enabled_plugins=enabled_plugins
          )}}
          {{ plugin.view(
              'Welcome',
               view=plugin_welcome',
               description='Welcome new people to your server with this plugin!',
               server=server,
               enabled_plugins=enabled_plugins
              )}}
      {{ plugin.view(
          'Lol',
          view='plugin_lol',
          cute_name='Searches',
          description='Search for stuff on your favorite sites like Youtube n' Urban!',
          soon=True,
          server=server,
          enabled_plugins=enabled_plugins
          )}}

</div>
